html {
  min-height: 100vh;
}
body {
  margin: 0;
  min-height: 100vh;
  font: 16px / 1 sans-serif;
  line-height: 0;
  background-image: linear-gradient(rgb(4, 75, 26), rgb(7, 99, 36));
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logoCentering {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}
.logo {
  width: 300px;
}
.score {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.game {
  color: white;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
}
.Player,
.Dealer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h2 {
  text-align: center;
}
.card {
  width: 70px;
}

.gameButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.HIT,
.STAY,
.PlayGame {
  border-radius: 50%;
  border: 2px solid #d1bd62;
  background-color: #027494;
  color: #ffffff;
  margin: 10px 7px;
  outline: none;
}
.HIT:hover,
.STAY:hover,
.PlayGame:hover {
  border: 2px solid #d1bd62c2;
  background-color: #027494c2;
  color: #ffffffc2;
  cursor: pointer;
}
.PlayGame {
  padding: 30px 9px;
}
.HIT {
  padding: 15px 12.5px;
}
.STAY {
  padding: 15px 8.3px;
}
.white:hover {
  text-shadow: 0 0 5px white;
  cursor: pointer;
}
.hidden {
  display: none;
}
