html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font: 16px / 1 sans-serif;
  line-height: 0;
  background-image: linear-gradient(rgb(4, 75, 26), rgb(7, 99, 36));
  background-size: contain;
}
.logoCentering {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}
.logo {
  width: 300px;
}
